@model Ponant.Medical.Shore.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Check";
}
<section id="intro">
    <img src="~/images/logo2.jpg" class="pull-right logo" />
    <p>This step increases the security of the application. Please fill in the code you received by e-mail.</p>
</section>
<div class="clearfix"></div>
<section id="form">
    @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>@ViewBag.Title</h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", autocomplete = "off" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Send" />
            </div>
        </div>
    }
</section>
