
@{
    ViewBag.Title = "Document management by document";
}

<h2>@ViewBag.Title</h2>
<hr />
<div id="divQuestion" class="col-md-12">
    <div class="glyphicon glyphicon-question-sign"></div>
    <span>This screen allows you to attach documents in the system to a passenger.</span>
</div>
<br />

<div id="successAlert" class="alert alert-success" role="alert" style="@(@TempData["Message"] == null ? "display:none;" : "" )">@TempData["Message"]</div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="@(@TempData["ErrorMessage"] == null ? "display:none;" : "" )">@TempData["ErrorMessage"]</div>

<div id="byDocument">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-inline filterdiv fixedfilterdiv">
        <div class="row">
            <div class="form-group col-md-2">
                @Html.Label("Document", new { @for = "document" })
                @Html.TextBox("document", "", new { @class = "form-control" })
            </div>

            @if (ViewBag.DocumentAvailableList != null)
            {
                <div class="form-group col-md-2">
                    @Html.Label("Linked", new { @for = "passenger" })
                    @Html.DropDownList("passenger", ViewBag.DocumentAvailableList as List<SelectListItem>, "All", new { @class = "form-control" })
                </div>
            }

            <div class="form-group col-md-2">
                @Html.Label("Email", new { @for = "email" })
                @Html.TextBox("email", "", new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                @Html.Label("Date of receipt", new { @for = "receiptDate" })
                @Html.TextBox("receiptDate", "", new { @class = "form-control datepickerInput", placeholder = "    /    /    " })
            </div>
            <input id="searchAvailableDocumentIndexButton" type="button" value="Search" class="btn btn-primary col-md-1" />
        </div>
    </div>

    <button id="btnDocumentLink" type="button" class="btn btn-primary" disabled="disabled">Link</button>
    <button id="btnDocumentDetach" type="button" class="btn btn-primary" disabled="disabled">Detach</button>
    <button id="btnDocumentDelete" type="button" class="btn btn-primary" disabled="disabled">Delete</button>

    <div id="labInfo" class="alert alert-info">
        <span >Please make a search to display the list of documents</span>
    </div>   
    @Html.MVCGrid("AvailableDocument")
    <div id="frmGetMessage">
    </div>
    <div id="frmLink">
    </div>
</div>

@Scripts.Render("~/bundles/availableDocument_bundle")
@Styles.Render("~/Content/availableDocument_bundle")